@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to right,#03A63C,#04D939);
}
main{
    background-color: white;
    width: 600px;
    padding:10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #06437c ;
}
h1{
    color: #027333;
    text-align: center;
    text-shadow: 1px 1px #024b21;
}
h2{
    color: #025959;
}